.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.row-12{
  padding-top: 1%;
  padding-bottom: 1%;
}
.sizetr{
    display: table-row;
}
.sizetr_col-id{
  width: 5%;
}
.sizetr_col-type{
  width: 15%;
}
.sizetr_col-file{
  width: 15%;
}
.sizetr_col-project{
  width: 10%;
}
.sizetr_col-size{
  width: 15%;
}
.sizetr_col-date{
  width: 25%;
}
